.form-container {
  background-color: cadetblue;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.title-toggle-show-btn-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
}

.title-toggle-show-btn-container > button {
  border-radius: 8px;
  padding: 6px 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
